<nav>
  <h1>Flix Ratings</h1>
  <ul>
    <li>Top films</li>
    <li>Your top films</li>
    <li>Your account</li>
    <form action='/find_film' id="film_search" method="get">
      <label for="film_name">Film Title:</label>
      <input type="text" name="film_name">
      <label for="film_name">Film Year:</label>
      <input type="text" name="film_year">
      <button type="submit">Search</button>
    </form>
  </ul>
</nav>
